<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body {font-size: 1.3em;} </style>
    <title>Lunch Check App</title>
  </head>
  <body>
    <h1>Lunch Check App</h1>

    <div ng-controller="LunchCheckController">
      <div>
        Enter items to eat:
        <input type="text" ng-model="items">
      </div>
      <div>
        <button type="button" ng-click="checkItems();" > Check If Too Much </button>
      </div>
      <div style="color:{{fontColor}}; {{border}}">
        {{message}}
      </div>
    </div>

  </body>
</html>
